html,
body {
    margin:0;
    padding: 0;
    min-width: 1200px;
}

body {
    margin: 0 auto;
    min-height: 100vh;
    background-color: black;
}

h2 {
    font-family: $title-text;
}

.opened__menu {
    overflow: hidden;
}

.opened__menu--body {
    position: fixed;
}

@media(max-width: 768px) {
    html,
    body {
        min-width: 768px;
    }
}

@media(max-width: 340px) {
    html,
    body {
        min-width: 340px;
    }
}

