html,
body {
    margin:0;
    padding: 0;
}

body {
    margin: 0 auto;
    min-height: 100vh;
    background-color: black;
}

h2 {
    font-family: $title-text;
}

.opened__menu {
    overflow: hidden;
}

.opened__menu--body {
    position: fixed;
}

// @media(max-width: 768px) {
//     body {
//         min-width: 768px;
//     }
// }

// @media(max-width: 340px) {
//     body {
//         min-width: 340px;
//     }
// }

