html,
body {
    margin:0;
    padding: 0;
    width: 100%;
}

body {
    background-color: black;
    width: 100%;
}

body.gift-page {
    min-width: 320px;
}

h2 {
    font-family: $title-text;
}

.opened__menu {
    overflow: hidden;
}

.opened__menu--body {
    position: fixed;
}

@media(max-width: 1200px) {
    body.gift-page {
        min-width: 1200px;
    }
}


@media(max-width: 768px) {
    body.gift-page {
        min-width: 768px;
    }
}

@media(max-width: 336px) {
    body.gift-page {
        min-width: 336px;
    }
}
