.breadcrumbs {
    position: relative;
    font-family: 'OpenSans-light', Arial, sans-serif;
    font-size: 18px;
    color: #ffffff;
    z-index: 20;

    @media(max-width: 568px) {
        font-size: 14px;
    }
}


.breadcrumbs ul {
    list-style-type: none;
    margin-right: auto;
}

.breadcrumbs a {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.9;
    cursor: pointer;
}

.breadcrumbs li {
    position: relative;
    display: inline-block;
    padding-right: 30px;
}

.breadcrumbs a:hover {
    color: yellow;
    opacity: 1;
}

// li.breadcrumbs__home::before {
//     content: "home";
// }

.breadcrumbs li::after {
    content:"‣";
    font-size: 34px;
    position: absolute;
    top: 50%;
    right:7px;
    line-height: 18px;
    transform: translateY(-50%);
}

.breadcrumbs li:last-child::after {
    content:"";
}