.gift-page .container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 30px;
    width: 1200px;
  }

  @media(max-width: 768px) {
    .gift-page .container {
      width: 768px;
    }
  }

  @media(max-width: 340px) {
    .gift-page .container {
      width: 340px;
    }
  }