.rooms {
    padding-top: 2em;
    padding-bottom: 80px;
    background-color: #000000;
    text-align: center;
}

.rooms__info {
    padding-left: 20px;
    margin-bottom: 30px;
    border-left: 4px solid #ffffff;
    text-align: left;
}

.rooms__title h2 {
    margin: 0;
    font-family: $title-text;
    font-weight: bold;
    font-size: 38px;
    line-height: 38px;
    text-transform: uppercase;
    color: #ffffff;

    @media(max-width: 375px) {
        font-size: 28px;
    }
}

.rooms__title {
    position: relative;
    padding-left: 65px;
}

.rooms__title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 53px;
    height: 55px;
    background: url("../img/keys_logo.svg") no-repeat center center;
    background-size: cover; 
}

.rooms__title-additional {
    margin: 0;
    margin-bottom: 5px;
    font-family: $main-text;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    color: #5335e3;

    @media(max-width: 375px) {
        font-size: 14px;
    }
} 

.rooms__list {
    min-width: 320px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
    flex-wrap: wrap;
    color: #ffffff;
}

.rooms__description {
    max-width: 650px;
    margin-top: 0px;
    font-family: $main-text;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
}

.rooms__item {
    position: relative;
    margin-left: 10px;
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid rgba(0,0,0,0.9);
}

.rooms__item-description {
    position: relative;
    margin-top: 28%;
}

.rooms__item--chambre h3::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 10px;
    width: 70px;
    height: 70px;
    background: url("../img/logo_rooms_1408.svg") no-repeat center center;
}

.rooms__item--expiriance h3::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 10px;
    width: 80px;
    height: 80px;
    background: url("../img/logo_rooms_ei.svg") no-repeat center center;
}

.rooms__item-description > * {
    display: block;
    text-align: left;
}

.rooms__item-description h3 {
    font-size: 26px;
    margin: 0;
    margin-bottom: 15px;
    padding-left: 20px;
    font-family: "codePro", "Geneva", "sans-serif";
    font-weight: bold;
}

.rooms__item:hover {
    border:2px solid #5335e3;  
}

.rooms__item-info {
    box-sizing: border-box;
    padding: 20px 30px;
    padding-bottom: 10px;
    text-align: left;
}

.rooms__item--chambre.rooms__item {
    background:  
    linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9)),
    url("../img/rooms_img1.jpg");
    background-size: cover;
}

.rooms__item--expiriance.rooms__item {
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9)),
     url("../img/rooms_img2.jpg") no-repeat top center;
    background-size: cover;
}

.rooms__item--chambre.rooms__item:hover {
    background:  
    linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)),
    url("../img/rooms_img1.jpg");
    background-size: cover;
}

.rooms__item--expiriance.rooms__item:hover {
    background:  
    linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)),
    url("../img/rooms_img2.jpg");
    background-size: cover;
}

.rooms__item:hover .rooms__item-description {
    opacity: 0.1;
}

.rooms__item > * {
    z-index: 4;
}

.rooms__item h3 {
    padding-left: 80px;
}

.rooms__stats {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-left: 70px;
    font-family: $title-text;
    font-weight: bold;
    font-size: 16px;
    transition: top 0.1s ease-in-out;
}

.rooms__stats > * {
    display: inline-block;
    vertical-align: top;
    position: relative;
    vertical-align: top;
    margin: 0;
    margin-right: 15px;
    padding: 4px;
    padding-left: 30px;
}

.rooms__stats .rooms__lang {
    font-family: $main-text;
    font-size: 14px;
    margin: 0;
    margin-left: 5px;
    padding-left: 0;
    padding: 4px;
    margin-right: 0px;
    border: 1px solid #ffffff;
    border-radius: 2px;
}

.rooms__stats > *::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 25px;
    height: 35px;
}

.rooms__people {
    padding-left: 45px;
}

.rooms__people::before {
    width:45px;
    background: url("../img/person_icon.svg"),
    url("../img/person_icon.svg"),
    url("../img/person_icon.svg");
    background-position-x: -0px, 9px, 18px;
    background-position-y: 7px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
}

.rooms__time::before {
    background: url("../img/sand-clock1.svg") no-repeat center center;
    background-position-y: 13px;
    background-size: 32px 20px;

}

.rooms__stats > *:last-child {
    margin-right: 0;
}

.rooms__reserve {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    font-size: 0;
    background-color: transparent;
    box-shadow: none;
    z-index: 9999;
}

.rooms__about {
    width: 80%;
    position: absolute;
    overflow-y: auto;
    left: 50%;
    font-family: $main-text;
    font-size: 14px;
    transform: translate(-50%, -500%);
    transition: transform 0.3s ease-in-out;
}

.rooms__item:hover .rooms__about {
    transform: translate(-50%, -180%);
}

.rooms__languages {
    display: flex;
    padding: 0;
}

.rooms__stats > * {
    margin-bottom: 10px;
}


@media(max-width: 1200px) {
    .rooms__item {
        width: 400px;
        margin-bottom: 25px;
    }

    .rooms__item h3 {
        max-width: 220px;
        font-size: 28px;
    }

    .rooms__item-description {
        margin-top: 28%;
    }
}

@media(max-width: 1000px) {
    .rooms__item {
        width: 380px;
    }

    .rooms__item h3 {
        max-width: 150px;
        font-size: 24px;
    }

    .rooms__item-description {
        margin-top: 30%;
    }
}

@media(max-width: 920px) {
    .rooms__item {
        width: 330px;
    }

    .rooms__item h3 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .rooms__item-description {
        margin-top: 46%;
    }

    .rooms__stats {
        padding-left: 70px;
    }
}

@media(max-width: 801px) {
    .rooms__item-description {
      margin-top: 15%;
    }

    .rooms__item {
        width: 80%;
        min-height: 100px;
    }
}

@media(max-width: 568px) {
    .rooms {
        padding-top: 40px;
        padding-bottom: 40px;  
    }

    .rooms__item {
        position: relative;
        display: block;
    }

    .rooms__item h3 {
        font-size: 18px;
        padding-left: 70px;
        margin-bottom: 4px;
    }


    .rooms__item-preview {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .rooms__item--chambre h3::after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 10px;
        width: 50px;
        height: 50px;
        background: url("../img/logo_rooms_1408.svg") no-repeat center center;
    }
    
    .rooms__item--expiriance h3::after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: -13px;
        left: 10px;
        width: 50px;
        height: 50px;
        background: url("../img/logo_rooms_ei.svg") no-repeat center center;
    }

    .rooms__item-description {
        margin-top: 45%;
        padding-left: 0;
        padding-bottom: 10px;
    }

    .rooms__stats {
        padding-left: 60px;
    }
}

@media(max-width: 420px) {
    .rooms__item h3 {
        font-size: 18px;
        padding-left: 70px;
        margin-bottom: 5px;
    }

    .rooms__stats{
        padding-top: 0px;
        padding-left: 60px;
        font-size: 14px;
    }

    .rooms__stats > * {
        margin-bottom: 12px;
    }
 }

 @media(max-width: 380px) {
    .rooms__item-description {
       margin-top: 45px;
    }
    .rooms__item h3 {
        font-size: 14px;
        padding-left: 35px;
        margin-bottom: 5px;
    }

    .rooms__stats .rooms__lang {
        font-size: 12px;
        padding: 2px;
    }

    .rooms__people {
        margin: 0;
    }

    .rooms__time{
        margin: 0;
    }

    .rooms__stats {
        padding-top: 0;
        padding-left:28px;
    }

    .rooms__stats > * {
        margin-bottom: 10px;
    }

    .rooms__item--chambre h3::after {
        height: 45px;
        width: 45px;
        left: -6px;
    }
    
    .rooms__item--expiriance h3::after {
        height: 45px;
        width: 45px;
        left: -12px;
    }

    .rooms__languages {
        font-size: 12px;
    }

    .rooms__people::before {
        background-size: 25px 25px;

    }
    
    .rooms__time::before {
        background-size: 25px 14px;
    }
 }

.rooms__plus-container {
    width: 65%;
    margin: 0 auto 2em;
    display: flex;
    flex: 5;
    justify-content: center;
    margin-bottom: 2em;
  }
  
  
  .rooms__plus {
    flex: 1;
  }
  
  .rooms__plus img{
    height: 60px;
    opacity: 0.6;
  }
  
  @media (max-width: 880px) {
    .rooms__plus-container {
        width: 100%;
    }
    .rooms__plus {
      font-size: 11px;
    }
    .rooms__plus img{
      height: 40px;
    }
  }
  
  
  .rooms__plus p{
    margin-top: 0;
  }
  
  .rooms__plus-text {
    font-family: "Arial", Helvetica, sans-serif;
    color: white;
  }